body {
    background-color: rgb(243, 234, 255);
}

.login_btn {
    background-color: rgb(19, 68, 95);
    color: rgb(248, 242, 245);
}

.del_btn {
    background-color: rgb(160, 32, 240);
    color: rgb(248, 242, 245);
}
