body {
    background-color: rgb(243, 234, 255);
}

.login_btn {
    background-color: rgb(19, 68, 95);
    color: rgb(248, 242, 245);
}

.del_btn {
    background-color: rgb(160, 32, 240);
    color: rgb(248, 242, 245);
}

.action_btn {
    background-color: rgb(209, 140, 252);
    color: rgb(46, 2, 24);
}

.filler_text {
    color: rgb(192, 51, 173);
}

.list-group-item.active {
    background-color: rgb(209, 140, 252);
    border: rgb(192, 51, 173);
}

.form-label {
    font-size: 16px;
    color: rgb(83, 81, 81);
    margin-top: 0.5rem;
}

.card-img-top {
    width: 100%;
    min-height: 150px;
    height: 10vw;
    object-fit: contain;
}

.item-img {
    width: 100%;
    max-height: 35vw;
    object-fit: contain;
}

.solo-card {
    max-width: 500px;
    width: 100%;
}

@media (max-width: 768px) {
    .btn.full-width {
        width: 100%;
        margin-right: 0;
    }
}
